@charset "UTF-8";
/* 公共样式 */
body, html {
  background-color: #f3f8fe;
  font-family: 'Microsoft Yahei', '\5FAE\8F6F\96C5\9ED1', Arial, 'Hiragino Sans GB', '\5B8B\4F53';
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 24px;
  color: #333;
  min-width: 1200px;
  overflow-x: hidden; }

button, dd, div, dl, dt, form, img, input, li, ol, p, td, th, ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none; }

em, th, i, b {
  font-style: normal;
  font-weight: normal; }

ul, li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 500; }

input {
  font-size: 12px;
  vertical-align: middle;
  color: #333;
  outline: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, input, textarea, select {
  outline: 0;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  color: #333;
  font-family: 'Microsoft Yahei', '\5FAE\8F6F\96C5\9ED1', Arial, 'Hiragino Sans GB', '\5B8B\4F53'; }

a:hover, a:link, a:visited {
  text-decoration: none; }

a:hover {
  color: #4a8be3; }

textarea {
  resize: none; }

html {
  _background: url(about:blank); }

#page0, #page1, #page2, #page3, #page4 {
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.fl {
  float: left; }

.fr {
  float: right; }

.red {
  color: #ff5a67; }

.clearfix {
  display: inline-table;
  display: block;
  zoom: 1; }

.clearfix:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

img {
  border: 0;
  vertical-align: top;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

.warp {
  width: 1200px;
  margin: 0 auto; }

.warp1 {
  width: 1000px;
  margin: 0 auto; }

/* 字体图标 */
@font-face {
  font-family: 'iconfont';
  src: url("/fonts/iconfont.eot");
  src: url("/fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("/fonts/iconfont.woff") format("woff"), url("/fonts/iconfont.ttf") format("truetype"), url("/fonts/iconfont.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal; }

/*滚动条样式*/
::-webkit-scrollbar {
  width: 5px;
  height: 10px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0);
  border-radius: 12px;
  background: #eee; }

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #ccc; }

::-webkit-scrollbar-thumb:hover {
  border-radius: 3px;
  background: #2da3df; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #999;
  opacity: 1;
  line-height: 22px; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
  line-height: 22px; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f8f8f8 inset; }

.mian {
  height: 1095px;
  position: relative; }

.lawyer_details {
  margin: 15px auto 80px auto;
  overflow: hidden; }

/*头部*/
.header {
  background: #fff;
  height: 80px;
  width: 100%;
  position: relative;
  z-index: 9999;
  clear: both;
  margin-bottom: 20px; }

.header .warp {
  position: relative; }

.head_login a {
  width: 73px;
  height: 28px;
  border-radius: 28px;
  display: block;
  border: 1px solid #259ad6;
  font-size: 14px;
  text-align: center;
  line-height: 28px;
  margin-left: 15px;
  float: left; }

.head_login a:hover {
  background-color: #259ad6;
  color: #fff; }

.head_logo {
  float: left;
  padding-top: 12px; }

.head_login {
  float: right;
  width: 180px;
  overflow: hidden;
  padding-top: 17px; }

.advert {
  width: 100%;
  height: 64px;
  position: relative; }

.advert a.advert_btn {
  width: 100%;
  height: 64px;
  display: block; }

.advert a.advert_close {
  background: url(/img/g_close.png) no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 1;
  right: 30px;
  top: 22px; }

/*通用翻页*/
.pager {
  text-align: center;
  line-height: 34px;
  padding: 20px 20px 0 20px; }

.pager {
  overflow: hidden; }

.pager li {
  display: inline-block; }

.pager span {
  color: #999;
  display: inline-block;
  border: #ececec 1px solid;
  padding: 0 14px;
  margin: 0 2px;
  background-color: #fff; }

.pager a {
  display: inline-block;
  border: #259ad6 1px solid;
  padding: 0 14px;
  margin: 0 2px;
  cursor: pointer;
  background-color: #259ad6;
  color: #fff; }

.pager a.disabled {
  display: inline-block;
  border: #ececec 1px solid;
  padding: 0 14px;
  margin: 0 2px;
  cursor: pointer;
  background-color: #fff;
  color: #999; }

.pager a:hover, a.p_hov, a.p_hov:hover {
  color: #fff;
  background: #259ad6;
  border-color: #259ad6; }

/*底部*/
.mian_bottom {
  background-color: #282d33;
  padding-top: 60px; }

.bottom_cont {
  overflow: hidden; }

.bottom_fl {
  float: left; }

.bottom_fl h3 {
  font-size: 20px;
  color: #c3c8ce; }

.bottom_fl ul.guangw_ul {
  overflow: hidden;
  margin: 15px 0 25px 5px; }

.bottom_fl ul.guangw_ul li {
  float: left;
  color: #454a50;
  font-size: 12px;
  margin-right: 10px; }

.bottom_fl ul.guangw_ul li a {
  color: #c3c8ce;
  font-size: 14px;
  padding-right: 10px; }

.bottom_fl ul.guangw_ul li a:hover {
  color: #fff; }

.bottom_fl span {
  font-size: 14px;
  color: #c3c8ce;
  padding-top: 25px;
  display: block;
  line-height: 24px;
  width: 400px; }

.bottom_fl span a {
  color: #b8bdc9; }

.bottom_fr {
  float: right;
  width: 350px;
  overflow: hidden; }

.btom_titebtn {
  width: 200px;
  float: left; }

.btom_titebtn a {
  width: 130px;
  height: 40px;
  line-height: 40px;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  float: right;
  position: relative; }

.btom_titebtn a em {
  padding-left: 50px; }

.btom_titebtn a em:after {
  background: url(../img/dh_t.png) no-repeat;
  content: "";
  width: 21px;
  height: 21px;
  display: block;
  position: absolute;
  left: 25px;
  top: 10px; }

.btom_titebtn b {
  font-size: 14px;
  color: #c3c8ce;
  text-align: right;
  display: block;
  margin: 15px 0;
  float: right;
  width: 200px; }

.btom_titebtn span {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  float: right; }

.ewm_img {
  float: right;
  width: 121px;
  margin-left: 25px; }

.ewm_img img {
  width: 121px;
  height: 122px;
  display: block; }

.ewm_img b {
  font-size: 14px;
  text-align: center;
  color: #fff;
  display: block;
  padding-top: 10px; }

.bottom_cont {
  overflow: hidden;
  padding-bottom: 40px; }

.hezhb_txt {
  font-size: 14px;
  color: #5a5d60;
  height: 42px;
  line-height: 42px; }

.hezhb_txt em {
  font-size: 14px;
  color: #5a5d60;
  padding-right: 30px; }

.hz_btn {
  height: 48px;
  line-height: 48px;
  background-color: #1e2126;
  font-size: 14px;
  color: #8c9094;
  text-align: center; }

.btom_15 {
  margin-bottom: 15px; }

.wlogin_footer ul {
  overflow: hidden;
  margin-top: 20px; }

.wlogin_footer ul li {
  color: #454a50;
  font-size: 12px;
  margin: 0 5px;
  display: inline-block; }

.wlogin_footer ul li a {
  color: #696f77;
  font-size: 14px;
  padding-right: 10px; }

.wlogin_footer {
  text-align: center;
  margin-top: 55px; }

.wlogin_footer span {
  color: #999;
  padding-top: 5px;
  display: inline-block;
  text-align: center;
  font-size: 12px; }

.lawyer_link ul {
  overflow: hidden;
  padding-bottom: 40px; }

.lawyer_link li {
  float: left;
  color: #4a4a50;
  padding: 0 5px;
  line-height: 30px; }

.lawyer_link li a {
  color: #c3c8ce;
  padding-right: 10px;
  font-size: 14px; }

.lawyer_link li a:hover {
  color: #fff; }

.lawyer_link li em {
  color: #c3c8ce;
  font-size: 14px; }

.lawyer_link {
  width: 730px;
  margin-top: 10px; }

.bottom_fl h3 {
  font-size: 18px;
  color: #fff;
  margin-left: 5px; }

.advert {
  background: url(../img/top_bg.png) center no-repeat;
  width: 100%;
  height: 64px; }

.zuc_btom {
  padding-top: 25px; }

.zuc_btom span {
  display: block;
  line-height: 24px;
  color: #999;
  padding-top: 0; }

.content {
  width: 100%;
  height: 100%;
  position: relative; }

.content_box {
  width: 1200px;
  margin: 0 auto; }

.left_box {
  width: 215px;
  min-height: 744px;
  background-color: #ffffff;
  padding-left: 40px;
  box-sizing: border-box;
  padding-top: 15px;
  margin-bottom: 80px;
  height: 744px; }

.right_box {
  width: 965px;
  margin-left: 20px;
  min-height: 744px;
  box-sizing: border-box; }

.g_title {
  height: 16px;
  line-height: 16px;
  vertical-align: text-bottom;
  position: relative;
  font-size: 16px;
  color: #333333;
  font-weight: 500;
  padding-left: 13px;
  box-sizing: border-box; }
  .g_title .g_title_tip {
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 16px;
    background-color: #5177F4; }
  .g_title .g_title_text {
    font-size: 12px;
    color: #999999;
    margin-left: 18px; }

.g_show_more {
  line-height: 72px;
  height: 72px;
  text-align: center;
  font-size: 14px;
  color: #5278F4; }
  .g_show_more > span {
    cursor: pointer; }

.g_normal_btn {
  width: 100px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #5278F4;
  border-radius: 3px;
  border: 1px solid #5278F4;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  .g_normal_btn:hover, .g_normal_btn:active {
    background-color: #5278F4;
    color: #ffffff; }
