.center_iphone {
  padding: 30px;
  background-color: #ffffff; }

.checkbox {
  margin-top: 40px; }

.hint_content {
  font-size: 12px;
  margin-top: 21px;
  color: #FF9A17; }

.time_content {
  margin-right: 10px; }
