@charset "utf-8";

.left_box {
  .left_box_item {
    font-size: 16px;
    line-height: 18px;
    height: 18px;
    color: #343434;
    margin-bottom: 30px;
    cursor: pointer;
    padding-top: 20px;
    &:hover,
    &:active {
      color: #5278F4;
    }
    > span {
      display: inline-block;
      width: 18px;
      height: 18px;
      line-height: 18px;
      vertical-align: center;
      margin-right: 10px;
    }
  }
  .left_box_item_child {
    font-size: 14px;
    color: #666666;
    line-height: 14px;
    height: 14px;
    margin-bottom: 25px;
    cursor: pointer;
    padding-left: 28px;
  }
}
