.question{
    background: #fff;
    padding: 30px;
    .tile_list{
        background: #F7FAFF;
        border-radius: 3px;
        margin-top: 20px;
    }
    .question_Details{
        width: 905px;
        padding: 28px;
        border: 2px solid #F5F5F5;
        border-radius: 3px;
        background: #F8F8F8;
        margin: 20px 0 0 0px;
        box-sizing: border-box;
    .center_recommend_item-tip {
        width: 20px;
        height: 20px;
        border-radius: 2px;
        background-color: #FF9A18;
        color: #ffffff;
        text-align: center;
        line-height: 20px;
        margin-right: 12px;
    }
        .quesText{
            // margin-left: 31px;
            font-size: 16px;
            color: #333333;
            .open{
                color: #5177F4;       
                font-size: 15px;
            }
        }
        .bottom{
            // margin-left: 31px;
            display: flex;
            color: #999999;
            align-items: center;
            justify-content: space-between;
            margin-top: 30px;
            .contact{
                width: 106px;
                height: 32px;
                background: #F3F8FF;
                border: 1px solid #5177F4;
                border-radius: 3px;
                font-size: 14px;
                font-family: Microsoft YaHei;
                text-align: center;
                line-height: 30px;
                color: #5177F4;
            }
        }
        .btns{
            display: flex;
            justify-content: center;
            button{
                width: 132px;
                height: 42px;
                background: #FFFFFF;
                border: 1px solid #5177F4;
                border-radius: 3px;
                margin-top: 23px;
                font-size: 14px;
                font-family: Microsoft YaHei;
                font-weight: 400;
            }
            .ignore{
                color: #5177F4;
                margin-right: 10px;
            }
            .accept{
                color: #FFFFFF;
                background:#6297FF;
                margin-left: 10px;
            }
        }
        .points{
            display: flex;
            justify-content: center;
            margin-top: 8px;
            .point{
                width: 10px;
                height: 10px;
                background: #DCE2F5;
                border-radius: 50%;
                margin: 5px;
                &:nth-child(1){
                    background: #5177F4;
                }
            }
        }
    }
    
}
.inquire{
    display: flex;
    align-items: center;
    background: #fff;
    padding: 30px;
    select{
        width: 120px;
        height: 32px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        display: block;
        margin-right: 10px;

    }
    .search{
        width: 88px;
        height: 32px;
        background: linear-gradient(90deg, #6297FF, #6F7DFF);
        border-radius: 3px;
        font-size: 14px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #FFFFFF;
        
    }
    span{
        margin-right: 10px;
    }
    button{
        width: 153px;
        height: 32px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        position: relative;
        margin-right: 10px;
        i{
            // position: absolute;
            // right: 2px;
            font-size: 19px;
            margin-right: 2px;
        }
    }
}
.allQuestion{
    background: #fff;
    padding: 30px;
    .tile_list{
        background: #F7FAFF;
        border-radius: 3px;
        margin-top: 20px;
    }
    .question_Details{
        width: 905px;
        padding: 28px;
        border-bottom: 2px solid #F5F5F5;
        // border-radius: 3px;
        // background: #F8F8F8;
        margin: 20px 0 0 0px;
        box-sizing: border-box;
    .center_recommend_item-tip {
        width: 20px;
        height: 20px;
        border-radius: 2px;
        background-color: #FF9A18;
        color: #ffffff;
        text-align: center;
        line-height: 20px;
        margin-right: 12px;
    }
        .quesText{
            // margin-left: 31px;
            font-size: 16px;
            color: #333333;
            .open{
                color: #5177F4;       
                font-size: 15px;
            }
        }
        .bottom{
            // margin-left: 31px;
            display: flex;
            color: #999999;
            align-items: center;
            justify-content: space-between;
            margin-top: 30px;
            .contact{
                width: 106px;
                height: 32px;
                background: #F3F8FF;
                border: 1px solid #5177F4;
                border-radius: 3px;
                font-size: 14px;
                font-family: Microsoft YaHei;
                text-align: center;
                line-height: 30px;
                color: #5177F4;
            }
        }
        .btns{
            display: flex;
            justify-content: center;
            button{
                width: 132px;
                height: 42px;
                background: #FFFFFF;
                border: 1px solid #5177F4;
                border-radius: 3px;
                margin-top: 23px;
                font-size: 14px;
                font-family: Microsoft YaHei;
                font-weight: 400;
            }
            .ignore{
                color: #5177F4;
                margin-right: 10px;
            }
            .accept{
                color: #FFFFFF;
                background:#6297FF;
                margin-left: 10px;
            }
        }
        .points{
            display: flex;
            justify-content: center;
            margin-top: 8px;
            .point{
                width: 10px;
                height: 10px;
                background: #DCE2F5;
                border-radius: 50%;
                margin: 5px;
                &:nth-child(1){
                    background: #5177F4;
                }
            }
        }
        
    }
    
}